@use '../util' as u;

.hero {
  background-color: var(--hero-bg);
  color: var(--text-light);

  &__wrapper {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    justify-items: center;
    align-items: center;
    padding-block: 30px 60px;

    @include u.breakpoint(large) {
      // flex-direction: row-reverse;
      grid-template-columns: 6fr 5fr;
      padding-block: 40px 80px;
      gap: 10%;
    }
  }

  &__image {
    width: 61%;
    max-width: u.rem(483);

    @include u.breakpoint(large) {
      // flex: 5;
      order: 2;
      width: 100%;
    }
  }

  &__text {
    @include u.breakpoint(large) {
      // flex: 6;
    }
  }

  &__button {
    &:first-of-type {
      margin-inline-end: 20px;
    }
  }
}
