@use '../util' as u;

html {
  box-sizing: border-box;
  font-size: 100%; // Note: this style rule is not needed anymore, you can remove if you want!
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: u.$font;
  background-color: var(--background-color);
  color: var(--text-color);
}
