@use '../util' as u;

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
}

h1 {
  font-size: clamp(u.rem(28), u.rem(16) + 2vw, u.rem(40));
}

h2 {
  font-size: clamp(u.rem(22), u.rem(14) + 1.5vw, u.rem(36));
}

p {
  margin-top: 0;
  font-size: u.rem(16);
}

a,
a:visited,
a:active {
  text-decoration: none;
}
